{% extends 'base.html' %}

{% block content %}
{% include '_header.html' %}
<section class="section">
  <h1 class="title">
    ¿Qué quieres hacer?
  </h1>
  <div class="buttons">
    
    {% if request.user.is_authenticated %}
    <a role="button" href="{% url 'todos:list' %}" class="button is-primary is-light">
      Ver TODOs
    </a>
    <a role="button" href="{% url 'todos:create' %}" class="button is-link is-light">
      Crear TODO
    </a>
    <a role="button" href="{% url 'users:logout' %}" class="button is-danger is-light">
      Cerrar Sesión
    </a>
    {% else %}
    <a role="button" href="{% url 'users:login' %}" class="button is-link is-light">
      Iniciar Sesión
    </a>
    {% endif %}
      
  </div>
  </ul>
</section>
{% endblock content %}
  